.hero {
    padding: 75px 0 75px 0;
}

.profile__picture {
    img {
        width: 100%;
        height: auto;

        border-radius: 50%;
        border: 5px solid white;
    }
}

@media screen and (max-width: 510px) {
    .profile__picture {
        display: flex;

        img {
            width: 300px;
            height: 300px;
        }
    }
}